<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="rides" class="example-table">

            <!-- Starting City Column -->
            <ng-container matColumnDef="startingCity">
                <th mat-header-cell *matHeaderCellDef>{{ 'COMPONENTS.PRODUCTS.MY_PRODUCTS_OFFERS.STARTING_CITY' | translate }}</th>
                <td mat-cell *matCellDef="let row">{{row.startingCity}}</td>
            </ng-container>

            <!-- Destination City Column -->
            <ng-container matColumnDef="destinationCity">
                <th mat-header-cell *matHeaderCellDef>{{ 'COMPONENTS.PRODUCTS.MY_PRODUCTS_OFFERS.DESTINATION_CITY' | translate }}</th>
                <td mat-cell *matCellDef="let row">{{row.destinationCity}}</td>
            </ng-container>

            <!-- Destination Address Column -->
            <ng-container matColumnDef="destinationAddress">
                <th mat-header-cell *matHeaderCellDef>{{ 'COMPONENTS.PRODUCTS.MY_PRODUCTS_OFFERS.DESTINATION_ADDRESS' | translate }}</th>
                <td mat-cell *matCellDef="let row">{{row.destinationAddress}}</td>
            </ng-container>

            <!-- Mass Column -->
            <ng-container matColumnDef="maxMass">
                <th mat-header-cell *matHeaderCellDef>{{ 'COMPONENTS.PRODUCTS.MY_PRODUCTS_OFFERS.MAX_MASS' | translate }}</th>
                <td mat-cell *matCellDef="let row">{{row.maxMass}} kg</td>
            </ng-container>

            <!-- Volume Column -->
            <ng-container matColumnDef="maxVolume">
                <th mat-header-cell *matHeaderCellDef>{{ 'COMPONENTS.PRODUCTS.MY_PRODUCTS_OFFERS.MAX_VOLUME' | translate }}</th>
                <td mat-cell *matCellDef="let row">{{row.maxVolume}} L</td>
            </ng-container>

            <!-- Delivery man ID Column -->
            <ng-container matColumnDef="deliveryManID">
                <th mat-header-cell *matHeaderCellDef>{{ 'COMPONENTS.PRODUCTS.MY_PRODUCTS_OFFERS.ID_LIVREUR' | translate }}</th>
                <td mat-cell *matCellDef="let row">{{row.userUuid}}</td>
            </ng-container>

            <!-- Order Column -->
            <ng-container matColumnDef="orderButton">
                <th mat-header-cell *matHeaderCellDef></th>
                <td *matCellDef="let row">
                    <!-- <a color="primary" [routerLink]="['/order/offer', row.id]">
                    //     {{ 'COMPONENTS.PRODUCTS.ORDER' | translate }}
                    // </a>-->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
