<section class="hero" id="section-0">
    <figure></figure>
    <h2 class="hero__title">{{ 'COMPONENTS.HOME.TITLE_ONE' | translate }}</h2>
</section>
<section class="hero" id="section-1">
    <figure></figure>
    <h2 class="hero__title">{{ 'COMPONENTS.HOME.TITLE_TWO' | translate }}</h2>
</section>
<section class="hero" id="section-2">
    <figure></figure>
    <h2 class="hero__title">{{ 'COMPONENTS.HOME.TITLE_THREE' | translate }}</h2>
</section>
<section class="hero" id="section-3">
    <figure></figure>
    <h2 class="hero__title">{{ 'COMPONENTS.HOME.TITLE_FOUR' | translate }}</h2>
</section>
<section class="content">
    <article class="content__inner">
        <h1 class="content__title">{{ 'COMPONENTS.HOME.TITLE_FIVE' | translate }}</h1>
        <h3 class="content__author">{{ 'COMPONENTS.HOME.TITLE_SIX' | translate }}</h3>

        <p>{{ 'COMPONENTS.HOME.PARAGRAPH_ONE' | translate }}</p>
        <p>{{ 'COMPONENTS.HOME.PARAGRAPH_TWO' | translate }}</p>
        <p>{{ 'COMPONENTS.HOME.PARAGRAPH_THREE' | translate }}</p>
        <p>{{ 'COMPONENTS.HOME.PARAGRAPH_FOUR' | translate }}</p>
        <p>{{ 'COMPONENTS.HOME.PARAGRAPH_FIVE' | translate }}</p>
        <p>{{ 'COMPONENTS.HOME.PARAGRAPH_SIX' | translate }}</p>
        <p>{{ 'COMPONENTS.HOME.PARAGRAPH_SEVEN' | translate }}</p>
        <p>{{ 'COMPONENTS.HOME.PARAGRAPH_EIGHT' | translate }}</p>

        <blockquote>{{ 'COMPONENTS.HOME.PARAGRAPH_NINE' | translate }}</blockquote>
        
    </article>

    <a class="login-link" routerLink="/login">{{ 'COMPONENTS.HOME.PARAGRAPH_TEN' | translate }}</a>

</section>
